.cardlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardarea {
    margin: 0;
    padding: 0;
    transition: 150ms ease-in;

}

.cardarea:hover {
    transform: scale(1.1);
}

.cardsmall {
    border-radius: 5px;
}
