@media only screen and (max-width: 900px) {
    img {
        max-width: 160px;

    }
}

.cardlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardarea {
    margin: 0;
    padding: 0;
    transition: 150ms ease-in;

}

.cardarea:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.cardsmall {
    margin: 0;
    padding: 0;
}