@media only screen and (max-width: 900px) {
    .modal {
        position: fixed;
        max-height: 80%;
        min-width: 70%;
        overflow-y: auto;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
    }

    .cardImage {
        max-width: 300px;
        object-fit: contain;
        align-self: center;
    }

    .cardMain {
        display: flex;
        flex-direction: column;
    }

    .cardHeader {
        gap: 15px;
    }

    .cardHeader h2 {
        font-size: 25px;
    }

    .cardHeader h4 {
        font-size: 22px;
        font-weight: 200;
    }
    .cardHeader h6 {
        font-size: 18px;
    }

    .cardFooter {
        font-size: 10px;
        font-weight: 200;
    }

    .cardFooter h3 {
        font-size: 22px;
        font-weight: 200;

    }

    .cardFooter h4 {
        font-size: 20px;
    }

    .attacks h4 {
        font-size: 28px;
    }
    .attacks h5 {
        font-size: 24px;
    }
    .attacks h6 {
        font-size: 18px;
        font-weight: 600;
    }
    .abilities h4 {
        font-size: 28px;
    }
    .abilities h5 {
        font-size: 24px;
    }
    .abilities h6 {
        font-size: 18px;
        font-weight: 600;
    }

    .energyRules {
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: rgba(196, 22, 124, 0.241);
        border-radius: 5px;
        min-width: 95%;
    }
}

@media only screen and (max-width: 480px) {
    .modal {
        position: fixed;
        max-height: 80%;
        min-width: 70%;
        overflow-y: auto;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
    }

    .cardImage {
        max-width: 200px;
        object-fit: contain;
        align-self: center;
    }

    .cardMain {
        display: flex;
        flex-direction: column;
    }

    .cardHeader {
        gap: 15px;
    }

    .cardHeader h2 {
        font-size: 13px;
    }

    .cardHeader h6 {
        font-size: 13px;
    }

    .cardHeader h4 {
        font-size: 12px;
        font-weight: 200;
    }

    h5 {
        font-size: 10px;
    }

    .cardFooter {
        font-size: 12px;
        font-weight: 200;
    }

    .cardFooter h3 {
        font-size: 12px;
        font-weight: 200;

    }

    .cardFooter h4 {
        font-size: 10px;
    }

    .attacks h4 {
        font-size: 14px;
    }
    .attacks h5 {
        font-size: 14px;
        font-weight: 500;
    }
    .attacks h6 {
        font-size: 10px;
        font-weight: 600;
    }
    .abilities h4 {
        font-size: 14px;
    }
    .abilities h5 {
        font-size: 14px;
        font-weight: 500;
    }
    .abilities h6 {
        font-size: 10px;
        font-weight: 600;
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(at top left, #8033A4, #3f0659);
    border: 3px rgb(209, 191, 210) solid;
    padding: 50px;
    border-radius: 5px;
    z-index: 1000;
    max-height: 80%;
    overflow-y: auto;
}

.modal::-webkit-scrollbar {
    width: 0px; 
    height: 0px; 
  }

.cardImage {
    object-fit: contain;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cardInfo {
    display: flex;
    flex-direction: column;
}

.cardInfo p {
    font-size: 12px;
}

.cardInfo span {
    font-size: 12px;
}

.closeButton {
    position: fixed;
    border-radius: 3px;
    top: 2%;
    right: 5%;
    background-color: #C4167B;
    height: 25px;
    width: 25px;
}

.cardHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    gap: 15px;
    margin-bottom: 15px;
    padding: 10px 15px;
    background-color:rgba(209, 191, 210, 0.2);
    border-radius: 5px;
}

.cardHeader p {
    font-size: 12px;
    font-weight: 800;

}

.nameSection {
    display: flex;
    flex-direction: column;
}

.footerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardMain {
    display: flex;
    gap: 15px;

}

.cardInfoSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}

.cardFooter {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 15px;
    background-color:rgba(209, 191, 210, 0.2);
    border-radius: 5px;
    gap: 15px;

}

.cardFlavorText {
    font-size: 12px;
    font-style: italic;
    margin-top: 15px;
    background-color: rgb(196, 22, 123, .8);
    padding: 10px;
    border-radius: 5px;
    min-width: 95%
}

.attacks {
    padding: 10px;
    background-color: rgba(198, 10, 120, 0.573);
    border-radius: 5px;
}

.attacks h5 {
    margin-top: 10px;
    font-weight: 200;
    min-width: 95%;

}

.abilities {
    padding: 10px;
    background-color: rgba(196, 22, 124, 0.241);
    border-radius: 5px;
    align-self: center;
    min-width: 95%;
}

.abilities h4 {
    margin-bottom: 10px;
}

.abilities h5 {
    font-weight: 200;
}

.energyRulesArea {
    display: flex;
    flex-direction: column;
}

.energyRules {
    padding: 10px;
    background-color: rgba(196, 22, 124, 0.241);
    border-radius: 5px;
}
