.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #8033A4;
    border: 3px rgb(209, 191, 210) solid;
    padding: 50px;
    border-radius: 5px;
    z-index: 1000;
    min-width: 50%;
    min-height: 50%;
}

.cardImage {

    object-fit: contain;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* align-items: center; */
}

.cardInfo {
    display: flex;
    flex-direction: column;
}

.cardInfo p {
    font-size: 12px;
}

.cardInfo span {
    font-size: 12px;
}

.closeButton {
    position: fixed;
    border-radius: 3px;
    top: 2%;
    right: 2%;
    background-color: #C4167B;
    height: 25px;
    width: 25px;
}

.cardHeader {
    display: flex;
    justify-content: space-evenly;
}

.nameSection {
    display: flex;
    flex-direction: column;
}

.cardMain {
    display: flex;
    gap: 15px;

}

.cardInfoSection {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.cardFooter {
    display: flex;
}

.cardFlavorText {
    font-size: 12px;
    font-style: italic;
}